<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="video-player-widget" version="0.0.15">
  <details>
    <title>Basic video widget</title>
    <email>bgrana@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>Receives a video stream.</description>
    <authors>bgrana</authors>
  </details>
  <wiring>
    <inputendpoint name="url" type="text" label="Video URL" description="video URL" friendcode="video_url"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="28" width="6"/>
</widget>
