<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="video-player-widget" version="0.1.1">
  <details>
    <title>Video Player</title>
    <email>wirecloud@conwet.com</email>
    <image></image>
    <smartphoneimage></smartphoneimage>
    <description>Receives a video stream.</description>
    <authors>Alejandro Rodríguez &lt;alex.rodriguez@conwet.com&gt;</authors>
    <longdescription>DESCRIPTION.md</longdescription>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/userguide.md</doc>
    <homepage>https://github.com/Wirecloud/video-player-widget</homepage>
    <issuetracker>https://github.com/Wirecloud/video-player-widget/issues</issuetracker>
  </details>
  <requirements>
    <feature name="FullscreenWidget"/>
  </requirements>
  <preferences>
      <preference type="text" name="initial-url" label="Initial URL"/>
  </preferences>
  <wiring>
    <inputendpoint name="url" type="text" label="Video URL" description="video URL" friendcode="url youtube_video"/>
  </wiring>
  <contents src="index.html"/>
  <rendering height="28" width="6"/>
</widget>
